* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
}
body {
    width: 100%;
    display: grid;
    grid-template-columns: 190px 1088px 44px 140px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

ul {
    list-style: none;
}

li {
    border-bottom: 2px solid black;
}

.content {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 25px;
}

h2 {
    padding-left: 25px;
}

.title {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    color: blue;
    text-transform: uppercase;
    position: relative;
}

.sidebar-right {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    border-right: 2px solid black;
    text-transform: uppercase;
}

.burger {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    display: none;
}

.closebtn {
    cursor: pointer;
    position: absolute;
    z-index: auto;
    margin-top: 216px;
}

.bas {
    position: relative;
    top: 930px;
}

.img {
    width: auto;
    padding: 10px;
}

.lang {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto 23px;
    font-family: 'Inconsolata', monospace, sans-serif;
    padding-left: 5px;
}

.d {
    border-left: 1px solid black;
}

h4 {
    padding: 5px;
}

.vertical h4 {
    transform: rotate(-90deg);
    text-transform: uppercase;
    position: relative;
    top: 1200px;
}

.sidebar-right .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    position: absolute;
    
    font-size: 20px;
    color: #333;
    padding: 10px 15px;
    border: none;
}

#bars {
    position: fixed;
    display: none;
padding: 33px;
}

#rotate {
    display: none;
    width: 200px;
    position: relative;
    top: 50vh;
    right: 70px;
    transform: rotate(-90deg);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#croix i {
    color: blue;
    cursor: pointer;
    position: relative;
    top: left;
    margin-top: 89px;
    padding-left: 23px;
}

#no-rotate {
    display: block;
    /* transform: rotate(-90deg); */
}

#propos {
    position: relative;
}

   
   
  


.cont{
    display: flex;
    align-items: baseline;
    padding-left: 33px;
    
}

img{
    padding: 10px;

}

.img1{
    margin-top: 77px;
    padding: 33px;
    width: 77px;
}
.img2{
    margin-left: 20px;

    
    padding-left: 70px;
    
 
}
.img3{

    margin: 66px;

    width: 77px;
}



@media (max-width:1200px){
    
    .cont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   
    }
    .img3{
        padding-left: 222px;
    }
}

@media (max-width:900px){
    
    .cont{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
   
    }
    
}
@media (max-width:400px){
    
    .cont{
        display: grid;
        
   
    }
    .sidebar-right{
        display: none;

    }
    #bars {
        position: absolute;
        display: block;
    padding: 33px;
    }

    
}