*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    display: grid;
    grid-template-columns: 190px 370px 550px 130px;
    

    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    
}
a{
    color: black;
    text-decoration: none;


}
a:hover{
    color: blue;
}
ul{
    list-style: none;

}
li {
    border-bottom: 2px solid black;
}

 .content {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 23px;
    line-height: 25px;


}

h2{
    padding-left: 25px;
}
.title{
    font-family:'Inconsolata', monospace;
    font-size: 15px;
    color: blue;
    text-transform: uppercase;
}

.sidebar-right{
    
    font-family:'Inconsolata', monospace;
    text-decoration: none;
    font-weight: bold;
     font-size: 14px;
    line-height: 23px;
    border-right: 2px solid black;
    text-transform: uppercase;
    margin-right: 19px;

}
.burger{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    display: none;


}

.closebtn{
    cursor: pointer;
    position: absolute;
    z-index: auto;
    margin-top: 216px;
}


.bas {
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin-top: 450px;
  
}



 .lang{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto 23px;
    font-family:'Inconsolata', monospace, sans-serif;
    width: 70px;
    padding-left: 5px;
       
    
}

.d{
    border-left: 2px solid black; 
}


h4{
 padding: 5px;


}
p{
    text-indent: 25px;
}

.vertical h4{
    text-transform: uppercase;
    transform: rotate(-90deg);

    position: relative;
    top: 660px;

    
    
    
}

.sidebar-right .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    cursor: pointer;
    position: absolute;
    font-size: 20px;

    
    color: #333;
    padding: 10px 15px;
    border: none;
  }
  #bars{
      display: none;
  }

  .lava{
    display: none;
    writing-mode: vertical-lr;
    text-orientation: upright;

  }



#main {
  transition: margin-left .5s;
  padding: 16px;
  
}

#croix i{
    color:blue;
cursor: pointer;
position: relative;
top: left;
margin-top: 89px;
padding-left: 23px;
}

#croix-bas p{
    color:blue;
cursor: pointer;
position: absolute;
margin-left: 200px;
top: 450px;
font-size: 33px;
padding: 33px;

}

#main{
    padding-right: 22px;
    padding-left: 0;
}

.conti{
    display: flex;
    width: 1077px;
    padding-left: 44px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
    height: 64px;
    
    
}
.aa{
    flex: 0;
    
}

.bb{
    color: blue;
    flex: 1;
    text-align: center;
}

.cc{
    flex: 0;
    padding-left: 22px;
}
h2{
    color: blue;
    margin-right: 26px;
}
.ligne{
    border-bottom: 2px solid black;
}
.sary{
    align-items: center;
}
.img img{
    position: absolute;

    top: 300px;
    margin-right: px;
    padding-left: 88px;
    


}


